.about-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    /* margin: auto; */
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.about-img > div {
    width: 50%
}

.about-img img {
    width: 100%;
    border-radius: 1%;
}

.about-img .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

@media only screen and (max-width: 800px){
    .about-img{
        flex-direction: column;
        gap: 0;
    }

    .about-img > div {
        width: 90%;
    }
}
/* 
@media only screen and (max-width: 1368px) {
    .about-img{
        margin-bottom: 25rem;
    }
} */